@import 'tailwindcss';
@import 'tw-animate-css';
@import 'shadcn-svelte/tailwind.css';

@source inline('{dark:,}{hidden,block,inline-block,flex,inline-flex}');

@custom-variant dark {
	@media not print {
		:is(.dark *) {
			@slot;
		}
	}
}

@plugin '@tailwindcss/typography';

@theme inline {
	--color-sidebar-ring: var(--sidebar-ring);
	--color-sidebar-border: var(--sidebar-border);
	--color-sidebar-accent-foreground: var(--sidebar-accent-foreground);
	--color-sidebar-accent: var(--sidebar-accent);
	--color-sidebar-primary-foreground: var(--sidebar-primary-foreground);
	--color-sidebar-primary: var(--sidebar-primary);
	--color-sidebar-foreground: var(--sidebar-foreground);
	--color-sidebar: var(--sidebar);
	--color-chart-5: var(--chart-5);
	--color-chart-4: var(--chart-4);
	--color-chart-3: var(--chart-3);
	--color-chart-2: var(--chart-2);
	--color-chart-1: var(--chart-1);
	--color-ring: var(--ring);
	--color-input: var(--input);
	--color-border: var(--border);
	--color-destructive: var(--destructive);
	--color-accent-foreground: var(--accent-foreground);
	--color-accent: var(--accent);
	--color-muted-foreground: var(--muted-foreground);
	--color-muted: var(--muted);
	--color-secondary-foreground: var(--secondary-foreground);
	--color-secondary: var(--secondary);
	--color-primary-foreground: var(--primary-foreground);
	--color-primary: var(--primary);
	--color-popover-foreground: var(--popover-foreground);
	--color-popover: var(--popover);
	--color-card-foreground: var(--card-foreground);
	--color-card: var(--card);
	--color-foreground: var(--foreground);
	--color-background: var(--background);

	--font-sans: var(--font-sans);
	--font-mono: var(--font-mono);
	--font-serif: var(--font-serif);

	--radius-sm: calc(var(--radius) * 0.6);
	--radius-md: calc(var(--radius) * 0.8);
	--radius-lg: var(--radius);
	--radius-xl: calc(var(--radius) * 1.4);
	--radius-2xl: calc(var(--radius) * 1.8);
	--radius-3xl: calc(var(--radius) * 2.2);
	--radius-4xl: calc(var(--radius) * 2.6);
}

@utility prose {
	--tw-prose-body: var(--foreground);
	--tw-prose-headings: var(--foreground);
	--tw-prose-lead: var(--foreground);
	--tw-prose-links: color-mix(in lab, var(--foreground) 50%, var(--primary) 50%);
	--tw-prose-bold: var(--foreground);
	--tw-prose-counters: var(--muted-foreground);
	--tw-prose-bullets: var(--muted-foreground);
	--tw-prose-hr: var(--border);
	--tw-prose-quotes: var(--card-forground);
	--tw-prose-quote-borders: var(--border);
	--tw-prose-captions: var(--muted-foreground);
	--tw-prose-kbd: var(--muted-foreground);
	--tw-prose-kbd-shadows: color-mix(in lab, var(--muted-foreground) 80%, transparent);
	--tw-prose-code: color-mix(in lab, var(--muted-foreground) 75%, var(--accent) 25%);
	--tw-prose-pre-code: var(--foreground);
	--tw-prose-pre-bg: var(--card);
	--tw-prose-th-borders: var(--border);
	--tw-prose-td-borders: var(--border);

	:where(h1, h2, h3, h4, h5, h6):not(:where([class~='not-prose'], [class~='not-prose'] *)) {
		scroll-margin-top: 1em;
	}

	:where(table):not(:where([class~='not-prose'], [class~='not-prose'] *)) {
		width: max-content;
		max-width: 100%;
	}

	:where(thead):not(:where([class~='not-prose'], [class~='not-prose'] *)) {
		background-color: color-mix(in lab, var(--muted) 50%, transparent);
	}

	:where(blockquote):not(:where([class~='not-prose'], [class~='not-prose'] *)) {
		font-weight: 400;
	}

	:where(thead th, tbody td, tfoot td):not(:where([class~='not-prose'], [class~='not-prose'] *)) {
		padding: 0.75em !important;
	}

	:where(blockquote p:first-of-type):not(
			:where([class~='not-prose'], [class~='not-prose'] *)
		)::before {
		content: '';
	}

	:where(blockquote p:last-of-type):not(
			:where([class~='not-prose'], [class~='not-prose'] *)
		)::after {
		content: '';
	}

	:where(pre):not(:where([class~='not-prose'], [class~='not-prose'] *)) {
		scrollbar-color: var(--color-border) var(--color-card);
	}

	@media print {
		:where(pre):not(:where([class~='not-prose'], [class~='not-prose'] *)) {
			overflow-x: none;
			text-wrap: wrap;
		}
	}
}

@layer base {
	:root {
		color-scheme: light;
	}
	@media not print {
		.dark {
			color-scheme: dark;
		}
	}
	* {
		@apply border-border outline-ring/50;
		scrollbar-width: thin;
		scrollbar-color: var(--color-border) var(--color-background);
	}
	body {
		@apply bg-background text-foreground;
	}
	html {
		@apply font-sans;
	}
}
